pomocnicze/
bin/
obj/
plan/
Incomes.*
*.xml
DodanieUsers.*
SprawdzeniePoprawnosciWpisanejDaty.*
WyciaganieDanychZPliku.*
Markup.*
AddIncomesAndSort/
AddUsers/
CheckDataWriteFromUser/
GetterDataFromFile/
